<script src="../../Scripts/Script/TreeView/direct/ngDepartController.js"></script>
<div ng-controller="tvDepartmentProfileCtrl as vm">
    <h3>Edit Department Profile</h3>
    <hr />
    <div>
        <table>
            <tr>
                <td>
                    <label>Deparment ID:</label>
                </td>
                <td>
                    <input type="text" class="k-textbox" ng-model="vm.formData.DepartID" />
                </td>
                <td>
                    <label>Department Show Name:</label>
                </td>
                <td>
                    <input type="text" class="k-textbox" ng-model="vm.formData.DepartSN" />
                </td>
                <td>
                    <label>Department Name:</label>
                </td>
                <td>
                    <input type="text" class="k-textbox" ng-model="vm.formData.DepartName" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Department Code:</label>
                </td>
                <td>
                    <input type="text" class="k-textbox" ng-model="vm.formData.DepartCode" />
                </td>
                <td>
                    <label>Memo :</label>
                </td>
                <td>
                    <input type="text" class="k-textbox" ng-model="vm.formData.Memo" />
                </td>
                <td>
                    
                </td>
                <td>
                  
                </td>
            </tr>
        </table>
    </div>
</div>