<form novalidate>
    required :<input type="text" required />
    <br />

    max min length : <input type="text" ng-maxlength="4" ng-minlength="2" maxlength="4" />
    <br />
    <br />
    range : <input type="number" min="10" max="100" />
</form>

