<script src="../../Scripts/Script/TreeView/direct/ngUserController.js"></script>
<div ng-controller="tvUserProfileCtrl as vm">
    <h3>Edit User Profile</h3>
    <hr />
    <div>
        <table>
            <tr>
                <td>
                    <label>User ID:</label>
                </td>
                <td>
                    <input type="text" class="k-textbox" ng-model="vm.formData.UserID" />
                </td>
                <td>
                    <label>First Name:</label>
                </td>
                <td>
                    <input type="text" class="k-textbox" ng-model="vm.formData.FirstName" />
                </td>
                <td>
                    <label>Last Name:</label>
                </td>
                <td>
                    <input type="text" class="k-textbox" ng-model="vm.formData.LastName" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>User's Role :</label>
                </td>
                <td>
                    <input type="text" class="k-textbox" ng-model="vm.formData.Role" />
                </td>
                <td>
                    <label>Create Date:</label>
                </td>
                <td>
                    <input kendo-date-picker
                           k-format="'{0:yyyy-MM-dd}'"
                           ng-model="vm.formData.CreateDate" />
                </td>
                <td>
                    <label>Memo:</label>
                </td>
                <td>
                    <input type="text" class="k-textbox" ng-model="vm.formData.Memo" />
                </td>
            </tr>
        </table>
    </div>
</div>