<script src="../../Scripts/Script/TreeView/direct/ngCompanyController.js"></script>    
<div ng-controller="tvAddCompanyProfileCtrl as vm">
        <h3>Add Company Profile</h3>
        <hr />
        <div>
            <table>
                <tr>
                    <td>
                        <label>Company ID:</label>
                    </td>
                    <td>
                        <input type="text" class="k-textbox" ng-model="vm.formData.MasterID" />
                    </td>
                    <td>
                        <label>Company Show Name:</label>
                    </td>
                    <td>
                        <input type="text" class="k-textbox" ng-model="vm.formData.OrgSN" />
                    </td>
                    <td>
                        <label>Company Name:</label>
                    </td>
                    <td>
                        <input type="text" class="k-textbox" ng-model="vm.formData.OrgName" />
                    </td>
                </tr>
            </table>
        </div>
    </div>



