<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.Material" version="1.0.6" targetFramework="net452" />
  <package id="Angular.UI.Bootstrap" version="1.1.1" targetFramework="net452" />
  <package id="angular-block-ui" version="0.2.2" targetFramework="net452" />
  <package id="angularjs" version="1.4.9" targetFramework="net452" />
  <package id="AngularJS.Animate" version="1.4.8" targetFramework="net452" />
  <package id="AngularJS.Aria" version="1.3.8" targetFramework="net452" />
  <package id="AngularJS.Core" version="1.4.9" targetFramework="net452" />
  <package id="AngularJS.Resource" version="1.4.8" targetFramework="net452" />
  <package id="AngularJS.Route" version="1.4.9" targetFramework="net452" />
  <package id="angular-local-storage" version="0.2.6" targetFramework="net452" />
  <package id="Antlr" version="3.4.1.9004" targetFramework="net452" />
  <package id="bootstrap" version="3.0.0" targetFramework="net452" />
  <package id="DotNetOpenAuth.Core" version="4.3.4.13329" targetFramework="net452" />
  <package id="DotNetOpenAuth.OAuth.Common" version="4.3.4.13329" targetFramework="net452" />
  <package id="DotNetOpenAuth.OAuth2.Client" version="4.3.4.13329" targetFramework="net452" />
  <package id="DotNetOpenAuth.OAuth2.Client.UI" version="4.3.4.13329" targetFramework="net452" />
  <package id="DotNetOpenAuth.OAuth2.ClientAuthorization" version="4.3.4.13329" targetFramework="net452" />
  <package id="DotNetOpenAuth.OAuth2.Core" version="4.3.4.13329" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="jQuery" version="2.2.3" targetFramework="net452" />
  <package id="jQuery.UI.Combined" version="1.11.4" targetFramework="net452" />
  <package id="jQuery.UI.i18n" version="1.10.2" targetFramework="net452" />
  <package id="jQuery.Validation" version="1.14.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Authentication" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.AspNet.Cors" version="5.0.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Cryptography.Internal" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.AspNet.DataProtection" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.AspNet.DataProtection.Abstractions" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.AspNet.Http" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.AspNet.Http.Abstractions" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.AspNet.Http.Extensions" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.AspNet.Http.Features" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebUtilities" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Extensions.Configuration" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.Extensions.OptionsModel" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.Extensions.PlatformAbstractions" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.Extensions.Primitives" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.Extensions.WebEncoders" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.Extensions.WebEncoders.Core" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Logging" version="1.0.0-rc1-211161024" targetFramework="net452" />
  <package id="Microsoft.jQuery.Unobtrusive.Ajax" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.Net.Http" version="2.0.20505.0" targetFramework="net452" />
  <package id="Microsoft.Net.Http.Headers" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Cors" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Security" version="3.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Security.Cookies" version="3.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Security.Facebook" version="3.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Security.Google" version="3.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Security.Jwt" version="3.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Security.Jwt.zh-Hant" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Security.MicrosoftAccount" version="3.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Security.Twitter" version="3.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Testing" version="3.0.0" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="MicrosoftAjax" version="4.0.20526.0" targetFramework="net452" />
  <package id="MicrosoftMvcAjax.Mvc5" version="5.0" targetFramework="net452" />
  <package id="Modernizr" version="2.6.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net452" />
  <package id="ngDialog" version="0.3.1" targetFramework="net452" />
  <package id="NgVal" version="0.9.1.0" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="System.IdentityModel.Tokens" version="5.0.0-rc1-211161024" targetFramework="net452" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.1" targetFramework="net452" />
  <package id="Thinktecture.IdentityModel.Core" version="1.4.0" targetFramework="net452" />
  <package id="WebGrease" version="1.5.2" targetFramework="net452" />
</packages>