 <!--@Styles.Render("../../Content/KendoStyle")
    @Styles.Render("../../Content/themes/base/css")
    @Styles.Render("../../Content/ngStyle")
    @Styles.Render("../../Content/css")-->
<!--<link rel="stylesheet" href="../../Content/bootstrap.css"/>
<link rel="stylesheet" href="../../Content/angular-block-ui.css" />
<link rel="stylesheet" href="../../Content/site.css" />
<link rel="stylesheet" href="../../Content/themes/base/jquery.ui.core.css" />
<link rel="stylesheet" href="../../Content/themes/base/jquery.ui.resizable.css" />
<link rel="stylesheet" href="../../Content/themes/base/jquery.ui.selectable.css" />
<link rel="stylesheet" href="../../Content/themes/base/jquery.ui.accordion.css" />
<link rel="stylesheet" href="../../Content/themes/base/jquery.ui.autocomplete.css" />
<link rel="stylesheet" href="../../Content/themes/base/jquery.ui.button.css" />
<link rel="stylesheet" href="../../Content/themes/base/jquery.ui.dialog.css" />
<link rel="stylesheet" href="../../Content/themes/base/jquery.ui.slider.css" />
<link rel="stylesheet" href="../../Content/themes/base/jquery.ui.tabs.css" />
<link rel="stylesheet" href="../../Content/themes/base/jquery.ui.datepicker.css" />
<link rel="stylesheet" href="../../Content/themes/base/jquery.ui.progressbar.css" />
<link rel="stylesheet" href="../../Content/themes/base/jquery.ui.theme.css" />
<link rel="stylesheet" href="../../Content/kendo/kendo.common.min.css" />
<link rel="stylesheet" href="../../Content/kendo/kendo.rtl.min.css" />
<link rel="stylesheet" href="../../Content/kendo/kendo.default.min.css" />
<link rel="stylesheet" href="../../Content/kendo/kendo.dataviz.min.css" />
<link rel="stylesheet" href="../../Content/kendo/kendo.dataviz.default.min.css" />
<link rel="stylesheet" href="../../Content/ngDialog/ngDialog-theme-default.css" />
<link rel="stylesheet" href="../../Content/ngDialog/ngDialog-theme-plain.css" />
<link rel="stylesheet" href="../../Content/ngDialog/ngDialog.css" />
<link rel="stylesheet" href="../../Content/ngDialog/ngDialog-custom-width.css" />

<link rel="stylesheet" href="../../Content/angular-block-ui.css">
    
<script src="../../Scripts/jquery-2.1.4.js"></script>
<script src="../../Scripts/jquery-ui-1.10.2.js"></script>
<script src="../../Scripts/angular.js"></script>
<script src="../../Scripts/angular-animate.js"></script>
<script src="../../Scripts/angular-route.js"></script>
<script src="../../Scripts/angular-cookies.js"></script>
<script src="../../Scripts/angular-resource.js"></script>
<script src="../../Scripts/angular-sanitize.js"></script>
<script src="../../Scripts/kendo/kendo.all.min.js"></script>
<script src="../../Scripts/kendo/kendo.angular.min.js"></script>
<script src="../../Scripts/ngDialog.js"></script>
<script src="../../Scripts/bootstrap.js"></script>
<script src="../../Scripts/angular-block-ui.js"></script>
<script src="../../Scripts/respond.js"></script>
<script src="../../Scripts/angular-ui/ui-bootstrap.js"></script>
<script src=""></script>

<script src="../../Scripts/modernizr-2.6.2.js"></script>
<script src="../../Scripts/kendo/kendo.all.min.js"></script>

<link href="../../Content/bootstrap.min.css" rel="stylesheet">

<script src="../../Scripts/Script/Module/poProfileModule.js"></script>
<script src="../../Scripts/Script/Controller/poProfileController.js"></script>
<script src="../../Scripts/Script/Services/poProfileServices.js"></script>
<script src="../../Scripts/Script/TreeView/ngTreeViewController.js"></script>
<script src="../../Scripts/Script/TreeView/direct/ngCompanyController.js"></script>
<script src="../../Scripts/Script/TreeView/direct/ngDepartController.js"></script>
<script src="../../Scripts/Script/TreeView/direct/ngUserController.js"></script>
<script src="../../Scripts/Script/TreeView/ngTreeViewService.js"></script>
<link rel="stylesheet" type="text/css" href="../../Content/ngTreeViewStyle.css" />-->

<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    test1
</body>
</html>
