<table style="width:100%">
    <tr>
        <td><h4>Purchase Order Detail : </h4></td>

    </tr>
    <tr>
        <td align="right">
            <kendo-button class="btn-danger" ng-click="vm.savePOProfileAction()">Save</kendo-button>
            <a href="#/po/Read" class="k-button btn-primary">Cancel</a>
        </td>
    </tr>
</table>

<table class="table-bordered" style="width:100%">
    <tr class="alert-success">
        <td style="width:9%;">
            Master Name : 
        </td>
        <td style="width:22%;">
            <input class="k-textbox" type="text" ng-model="vm.formData.MasterOrgSN" style="width:100%;" disabled />
        </td>
        <td style="width:10%;">
            Project Name : 
        </td>
        <td style="width:23%;">
            <input class="k-textbox" type="text" ng-model="vm.formData.ProjectName" style="width:100%;" disabled />
        </td>
        <td style="width:12%;">
            Purchase Order No : 
        </td>
        <td style="width:23%;">
            <input class="k-textbox" style="width:100%" ng-model="vm.formData.PONo" disabled />
        </td>
    </tr>
    <tr class="alert-info">
        <td>
            Supplier Name : 
        </td>
        <td>
            <input class="k-textbox" type="text" ng-model="vm.formData.SupplierOrgSN" style="width:100%;" disabled />
        </td>
        <td>
            Create Date : 
        </td>
        <td>
            <input kendo-date-picker
                   ng-model="vm.formData.CreateDate"
                   k-format="'{0:yyyy-MM-dd}'"
                   style="width:100%;" disabled />
        </td>
        <td>
            Update Date : 
        </td>
        <td>
            <input kendo-date-picker
                   ng-model="vm.formData.UpdateDate"
                   k-format="'{0:yyyy-MM-dd}'"
                   style="width:100%;" disabled />
        </td>
    </tr>
    <tr class="alert-success">
        <td>Memo : </td>
        <td><input class="k-textbox text-left" ng-model="vm.formData.Memo" style="width:100%" disabled /></td>
        <td>
            Transaction Date : 
        </td>
        <td>
            <input kendo-date-picker
                   ng-model="vm.formData.TranDate"
                   k-ng-model="vm.formData.TranDate"
                   k-format="'{0:yyyy-MM-dd}'"
                   style="width:100%;" disabled />

        </td>
        <td></td>
        <td>
            <!--<a href="#Add" class="k-button btn-danger">New</a>
            <a href="#Edit" class="k-button btn-primary">Edit</a>-->
        </td>
    </tr>
</table>
