<div>
    <p>this is blank page</p>
    {{vm.message}}
</div>

<div>
    <table>
        <tr>
            <td>
                <label>Company ID:</label>
            </td>
            <td>
                <input type="text" class="k-textbox" ng-model="vm.formData.MasterID" />
            </td>
            <td>
                <label>Company Show Name:</label>
            </td>
            <td>
                <input type="text" class="k-textbox" ng-model="vm.formData.OrgSN" />
            </td>
            <td>
                <label>Company Name:</label>
            </td>
            <td>
                <input type="text" class="k-textbox" ng-model="vm.formData.OrgName" />
            </td>
        </tr>
    </table>
</div>